In [3]:
import pandas as pd
import numpy as np

In [24]:
technologies = {
    'Courses':["Spark","PySpark","Hadoop","Python","pandas","Oracle","Java"],
    'Fee' :[20000,25000,26000,22000,24000,21000,22000],
    'Duration':['30days','40days','35days','40days',np.nan,None,'55days'],
    'Discount':[1000,2300,1500,1200,2500,2100,2000]
               }
#index_labels = ['r1', 'r2', 'r3', 'r4', 'r5', 'r6', 'r7']
#df = pd.DataFrame(technologies, index=index_labels)
df = pd.DataFrame(technologies)

In [25]:
df

   Courses    Fee Duration  Discount
0    Spark  20000   30days      1000
1  PySpark  25000   40days      2300
2   Hadoop  26000   35days      1500
3   Python  22000   40days      1200
4   pandas  24000      NaN      2500
5   Oracle  21000     None      2100
6     Java  22000   55days      2000

In [28]:
df.iloc[3]['Duration']  # Get cell value from index & then name

'40days'

In [31]:
df.iloc[3,2]

'40days'

In [35]:
df.at[6, 'Duration'] #use at function, input row index name and cell name

'55days'

In [36]:
df.at[df.index[3], 'Duration']

'40days'

In [37]:
df.iat[3,2]

'40days'

In [38]:
df['Duration']

0    30days
1    40days
2    35days
3    40days
4       NaN
5      None
6    55days
Name: Duration, dtype: object

In [40]:
df.loc[3]['Duration']

'40days'

In [41]:
#

In [42]:
df.shape

(7, 4)

In [46]:
df.shape[0] # Get the row count by this [0]

7

In [48]:
df.shape[1]  # get the column count by this [1]

4

In [50]:
df.index

RangeIndex(start=0, stop=7, step=1)

In [51]:
len(df.index)  #get row count method 1

7

In [55]:
len(df.axes[0] ) #get row count method 2

7

In [57]:
df.shape[0]

7

In [58]:
df.count()

Courses     7
Fee         7
Duration    5
Discount    7
dtype: int64

In [59]:
# Get column name list

In [64]:
df.columns.values.tolist()  # convert to a list object

['Courses', 'Fee', 'Duration', 'Discount']

In [65]:
df.columns

Index(['Courses', 'Fee', 'Duration', 'Discount'], dtype='object')

In [66]:
sorted(df)

['Courses', 'Discount', 'Duration', 'Fee']

In [67]:
for column_headers in df.columns:
    print(column_headers)

Courses
Fee
Duration
Discount

In [71]:
df.keys().values

array(['Courses', 'Fee', 'Duration', 'Discount'], dtype=object)

In [82]:
# Get all numeric columns
numeric_columns = df._get_numeric_data().columns.values.tolist()

In [83]:
numeric_columns

['Fee', 'Discount']

In [88]:
 df.dtypes[ df.dtypes == 'int64'].index.values.tolist()

['Fee', 'Discount']