In [1]:
import pandas as pd
import numpy as np

In [2]:
technologies = ({
    'Courses':["Spark","PySpark","Hadoop","Python","pandas","Oracle","Java"],
    'Fee' :[20000,25000,26000,22000,24000,21000,22000],
    'Duration':['30day', '40days' ,'35days', '40days', '60days', '50days', '55days']
              })
df = pd.DataFrame(technologies)

In [3]:
df

   Courses    Fee Duration
0    Spark  20000    30day
1  PySpark  25000   40days
2   Hadoop  26000   35days
3   Python  22000   40days
4   pandas  24000   60days
5   Oracle  21000   50days
6     Java  22000   55days

In [5]:
for index, row in df.iterrows():
    print(index, row['Fee'], row["Courses"])

0 20000 Spark
1 25000 PySpark
2 26000 Hadoop
3 22000 Python
4 24000 pandas
5 21000 Oracle
6 22000 Java

In [12]:
# Iterate all rows using DataFrame.itertuples()
for row in df.itertuples(index = True):
    #print(row)
    print(getattr(row,'Index'),getattr(row, 'Fee'), getattr(row, 'Courses'))

0 20000 Spark
1 25000 PySpark
2 26000 Hadoop
3 22000 Python
4 24000 pandas
5 21000 Oracle
6 22000 Java

In [13]:
row = next(df.itertuples(index=True, name='Tution'))

In [14]:
print(row)

Tution(Index=0, Courses='Spark', Fee=20000, Duration='30day')

In [16]:
# using index
for idx  in df.index:
    print(df['Fee'][idx], df['Courses'][idx])

20000 Spark
25000 PySpark
26000 Hadoop
22000 Python
24000 pandas
21000 Oracle
22000 Java

In [17]:
#using iloc()
for i in range(len(df)):
    print(df.iloc[i,0], df.iloc[i,2])

Spark 30day
PySpark 40days
Hadoop 35days
Python 40days
pandas 60days
Oracle 50days
Java 55days

In [23]:
for label, content in df.items():
    print(f'label: {label}')
    print(f'content: \n{content}', sep='\n')
    print('\n')

label: Courses
content:
0      Spark
1    PySpark
2     Hadoop
3     Python
4     pandas
5     Oracle
6       Java
Name: Courses, dtype: object


label: Fee
content:
0    20000
1    25000
2    26000
3    22000
4    24000
5    21000
6    22000
Name: Fee, dtype: int64


label: Duration
content:
0     30day
1    40days
2    35days
3    40days
4    60days
5    50days
6    55days
Name: Duration, dtype: object