In [1]:
import pandas as pd
import numpy as np

In [2]:
technologies = {
    'Courses':["Spark","PySpark","Hadoop","Python"],
    'Fee' :[22000,25000,np.nan,24000],
    'Duration':['30day',None,'55days',np.nan],
    'Discount':[1000,2300,1000,np.nan]
          }

In [3]:
df = pd.DataFrame(technologies)

In [4]:
df

   Courses      Fee Duration  Discount
0    Spark  22000.0    30day    1000.0
1  PySpark  25000.0     None    2300.0
2   Hadoop      NaN   55days    1000.0
3   Python  24000.0      NaN       NaN

In [5]:
#write DataFrame to csv file
df.to_csv('courses.csv')

In [6]:
# Change the behavior

In [7]:
df.to_csv('courses.csv', header=False)   #no header

In [8]:
df.to_csv('courses.csv', header=False, sep='|')  # Change te delimeter to '|'

In [10]:
df.to_csv('courses.csv', index=False)

In [11]:
columns_names = ['Courses', 'Duration', 'Discount']

In [12]:
df.to_csv('courses.csv', index=False, columns=columns_names)

In [13]:
# Handling Missing values (like 'None/NaN')
df.to_csv('courses.csv', index=False, na_rep='Unknown')

In [14]:
df

   Courses      Fee Duration  Discount
0    Spark  22000.0    30day    1000.0
1  PySpark  25000.0     None    2300.0
2   Hadoop      NaN   55days    1000.0
3   Python  24000.0      NaN       NaN